*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  color: #333;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfcfc; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

img {
  max-width: 100%; }

body {
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.separator {
  background-color: #f38181;
  height: 3px;
  width: 6rem;
  margin: 3rem 0;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .separator--white {
    background-color: #fff; }
  .separator--margin-small {
    margin: 1rem 0; }

.heading-primary {
  line-height: 1;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 10rem;
    text-transform: uppercase; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2rem; }
  .heading-primary--span {
    display: block; }

@media only screen and (max-width: 29.3em) {
  .heading-primary--main {
    font-size: 7rem; }
  .heading-primary--sub {
    font-size: 4rem; } }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-tertiary {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.4rem;
  font-weight: 400; }

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #666;
  font-weight: 600; }

.paragraph {
  font-family: 'Roboto', sans-serif;
  color: #999;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem; }
  .paragraph--short {
    width: 85%; }
    @media only screen and (max-width: 37.5em) {
      .paragraph--short {
        width: 100%; } }
  .paragraph--main {
    width: 80%;
    text-align: center;
    margin-bottom: 5rem; }

.u-margin-left-auto {
  margin-left: auto; }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 4rem;
  -webkit-transition: all .2s;
  transition: all .2s; }

.btn:active, .btn:focus {
  outline: none; }

.btn--ghost {
  border: 2px solid #fff;
  background-color: transparent; }
  .btn--ghost:hover {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #f38181; }

.btn--submit {
  border: none;
  background-color: #95e1d3; }
  .btn--submit:hover {
    background-color: #268573; }

.btn-arrow, .btn-arrow:link, .btn-arrow:visited {
  cursor: pointer;
  color: #cccccc;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  -webkit-transition: color .3s;
  transition: color .3s; }

.btn-arrow:hover {
  color: #666; }

.btn-arrow:active, .btn-arrow:focus {
  outline: none; }

.hamburger-button {
  background-color: transparent;
  border: none;
  display: none;
  outline: none; }
  @media only screen and (max-width: 56.25em) {
    .hamburger-button {
      display: block; } }
  .hamburger-button__icon {
    width: 35px;
    height: 30px;
    position: relative;
    margin-top: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  .hamburger-button__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .hamburger-button__icon span:nth-child(1) {
    top: 0px; }
  .hamburger-button__icon span:nth-child(2) {
    top: 10px; }
  .hamburger-button__icon span:nth-child(3) {
    top: 20px; }
  .hamburger-button__icon--open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .hamburger-button__icon--open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  .hamburger-button__icon--open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }

.gallery {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .gallery__box {
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%; }
    @media only screen and (max-width: 56.25em) {
      .gallery__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 44%;
                flex: 0 0 44%;
        margin: 0 auto;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 70%;
                flex: 0 0 70%; } }
    .gallery__box:hover .gallery__caption {
      opacity: 1; }
    .gallery__box:hover .gallery__img {
      -webkit-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px); }
    .gallery__box:hover::after {
      -webkit-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px);
      opacity: 1; }
    .gallery__box::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3; }
    .gallery__box::after {
      z-index: 200;
      opacity: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 228, 139, 0.9)));
      background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 228, 139, 0.9));
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
  .gallery__img {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 100;
    position: relative;
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .gallery__caption {
    z-index: 300;
    position: absolute;
    top: 45%;
    left: 45%;
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .gallery__caption--text {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase; }
    .gallery__caption--buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 60%; }
  .gallery__button:link, .gallery__button:visited {
    text-decoration: none;
    color: #f38181;
    text-align: center;
    font-size: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    background-color: #fce48b;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .gallery__button:hover, .gallery__button:active {
    color: #fff;
    background-color: #f38181; }
  .gallery__button:not(:last-child) {
    border-right: 1px solid #f38181; }
  .gallery__icon {
    display: block;
    font-size: 3rem; }
  .gallery__team {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%; }
    @media only screen and (max-width: 56.25em) {
      .gallery__team {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 44%;
                flex: 0 0 44%;
        margin: 0 auto;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery__team {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 70%;
                flex: 0 0 70%; } }
    .gallery__team--name, .gallery__team--profession {
      display: block;
      text-align: center; }
    .gallery__team--name {
      margin-top: 2rem;
      font-size: 1.4rem;
      color: #666;
      font-weight: 600;
      text-transform: uppercase; }
    .gallery__team--profession {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
      color: #999; }

.portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .portfolio-gallery {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .portfolio-gallery__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .portfolio-gallery__col {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 43%;
                flex: 0 0 43%; } }
    @media only screen and (max-width: 37.5em) {
      .portfolio-gallery__col {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
                flex: 0 0 65%; } }
  .portfolio-gallery__item {
    position: relative;
    cursor: pointer;
    height: 100%; }
    .portfolio-gallery__item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 228, 139, 0.9)));
      background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 228, 139, 0.9));
      z-index: 1;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
    .portfolio-gallery__item:hover::after {
      opacity: 1; }
    .portfolio-gallery__item:hover .portfolio-gallery__caption {
      opacity: 1; }
  .portfolio-gallery__img {
    z-index: -1;
    height: 100%;
    width: 100%; }
  .portfolio-gallery__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100; }
  .portfolio-gallery__icon, .portfolio-gallery__text {
    text-align: center;
    display: block;
    color: #fff; }
  .portfolio-gallery__icon {
    font-size: 3rem; }
  .portfolio-gallery__text--up {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase; }
  .portfolio-gallery__text--down {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2.4rem; }

.numbers-row {
  background-color: #95e1d3;
  height: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .numbers-row {
      display: none; } }
  .numbers-row__list {
    max-width: 120rem;
    color: #fff;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    width: 100%;
    height: 100%; }
  .numbers-row__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    border-right: 0.5px solid #fff;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .numbers-row__item:first-of-type {
      border-left: 0.5px solid #fff; }
  .numbers-row__number {
    font-size: 7.2rem;
    font-weight: 700; }
  .numbers-row__text {
    font-size: 1.4rem; }

.services {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .services__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    margin: 3rem 0;
    padding-left: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .services__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%; } }
    @media only screen and (max-width: 37.5em) {
      .services__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 80%;
                flex: 0 0 80%;
        padding: 0; } }
  .services__icon {
    margin: .5rem 2rem 0 0; }
  .services::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 1px solid #e5e5e5; }
    @media only screen and (max-width: 56.25em) {
      .services::before {
        top: 35%;
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .services::before {
        display: none; } }
  .services::after {
    content: "";
    width: 90%;
    position: absolute;
    bottom: 35%;
    border-top: 1px solid #e5e5e5;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .services::after {
        display: block; } }
    @media only screen and (max-width: 37.5em) {
      .services::after {
        display: none; } }

.service {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .service {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .service__photo-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    @media only screen and (max-width: 37.5em) {
      .service__photo-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 90%;
                flex: 0 0 90%;
        margin-bottom: 3rem; } }
  .service__text-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .service__text-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 90%;
                flex: 0 0 90%;
        margin: 0; } }
  .service__expand-box {
    border: 1px solid #e5e5e5;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .service__expand-box:not(:last-child) {
      margin-bottom: 1rem; }
  .service__description {
    height: 14.5rem;
    display: none;
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
    overflow: scroll; }
    .service__description:not(:last-child) {
      margin-bottom: 1rem; }
  .service__icon {
    margin-right: 2rem; }

.open {
  display: block; }

.quote {
  background-color: #f3f1f1;
  padding: 5rem 0;
  margin: 0 auto; }
  @media only screen and (max-width: 37.5em) {
    .quote {
      display: none; } }
  .quote--white-background {
    background-color: #fcfcfc; }
  .quote__container {
    max-width: 120rem;
    height: 22rem;
    padding: 0 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  .quote__photo {
    height: 20rem;
    width: 20rem;
    border-radius: 50%; }
  .quote__box-primary, .quote__box-secondary {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    left: 120%;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .quote .current {
    left: 12rem; }
  .quote__text-box {
    width: 60%;
    margin-top: 2rem; }
  .quote__text {
    font-family: 'Roboto',sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #999;
    font-style: italic;
    line-height: 3.6rem; }
  .quote__author {
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4rem;
    font-weight: 400;
    color: #333;
    margin-top: 1rem;
    margin-left: 7rem;
    position: relative; }
    .quote__author::before {
      content: "";
      position: absolute;
      margin-left: -7rem;
      top: 50%;
      background-color: #f38181;
      height: 3px;
      width: 6rem; }

.clients {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .clients__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .clients__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
  .clients__photo {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .clients__text-box {
    width: 70%; }
  .clients__name {
    display: block;
    font-size: 1.4rem;
    color: #666;
    font-weight: 600;
    text-transform: uppercase; }
  .clients__profession {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.4rem;
    font-style: italic; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem; }
  @media only screen and (max-width: 56.25em) {
    .blog {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 5rem; } }
  .blog__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%; }
    @media only screen and (max-width: 56.25em) {
      .blog__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .blog__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 80%;
                flex: 0 0 80%; } }
  .blog__img-box {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .blog__img-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .blog__caption {
    color: #fff;
    width: 6rem;
    height: 7rem;
    position: absolute;
    bottom: 2rem;
    left: -1rem;
    background-color: #95e1d3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .blog__caption {
        left: 2rem; } }
  .blog__day {
    font-size: 3rem;
    font-weight: 400;
    line-height: .8; }
  .blog__month {
    font-size: 15px;
    font-weight: 300;
    font-style: italic; }
  .blog__heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    margin: 1rem 0;
    display: block; }
  .blog__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 1rem;
    margin: 1rem 2rem 0 0; }
  .blog__numbers-box {
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog__number {
    margin-left: .5rem; }
  .blog__icon {
    font-size: 2rem;
    color: #95e1d3;
    margin-right: .5rem; }

.footer {
  padding-top: 5rem; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .footer__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%; }
    @media only screen and (max-width: 56.25em) {
      .footer__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 80%;
                flex: 0 0 80%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__box--max {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin: 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .footer__box--max {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 60%;
                flex: 0 0 60%; } }
  .footer__brand {
    font-size: 4.6rem;
    font-weight: 700;
    color: #cccccc; }
  .footer__followers {
    font-size: 1.4rem;
    margin-top: 3rem;
    display: block; }
    .footer__followers--strong {
      font-size: 1.8rem;
      font-weight: 700; }
  .footer__links {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin: 1rem 0 2rem 0; }
    .footer__links__text {
      color: #cccccc;
      font-size: 1.5rem;
      font-style: italic;
      line-height: 2.4rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #95e1d3;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    margin-left: 1rem; }
  .footer__link:hover, .footer__link:active {
    color: #268573; }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__input {
    background-color: #fff;
    width: 55%;
    height: 4rem;
    border: 1px solid #e5e5e5;
    padding: 0 1rem; }
    @media only screen and (max-width: 75em) {
      .footer__input {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-bottom: 3px; } }
    .footer__input::-webkit-input-placeholder {
      color: #e5e5e5;
      font-style: italic; }
  .footer__heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 4rem;
    display: block; }
  .footer__blogs-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__blogs-box:not(:last-of-type) {
      margin-bottom: 3rem; }
  .footer__blogs-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin-left: 2rem; }
  .footer__heading-blogs {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .footer__blogs-date {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    color: #999; }
  .footer__instagram-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media only screen and (max-width: 56.25em) {
      .footer__instagram-gallery {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .footer__instagram-photo-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26%;
            flex: 0 0 26%; }
    @media only screen and (max-width: 56.25em) {
      .footer__instagram-photo-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 11%;
                flex: 0 0 11%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__instagram-photo-box {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%; } }
  .footer__instagram-photo {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    cursor: pointer; }
    .footer__instagram-photo:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .footer__instagram-link:link, .footer__instagram-link:visited {
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2.4rem;
    text-decoration: none;
    color: #333; }
  .footer__instagram-link:hover, .footer__instagram-link:active {
    color: #268573; }
  .footer__copy {
    border-top: 1px solid #e5e5e5;
    margin-top: 5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__copy-text {
    font-size: 1.4rem;
    font-weight: 400; }
    .footer__copy-text--colored {
      color: #f38181;
      font-weight: 600; }

.header {
  height: 100vh;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 228, 139, 0.9))), url(../img/hero1.jpg);
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 228, 139, 0.9)), url(../img/hero1.jpg);
  background-size: cover;
  background-position: center; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 120rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__text-box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header__arrow {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
    position: absolute;
    bottom: 0; }

.navigation {
  position: fixed;
  padding: 2rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  -webkit-transition: all .3s;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      padding: 2rem 5rem; } }
  .navigation--scroll {
    background-color: rgba(243, 129, 129, 0.8);
    padding: 5px 10rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation--scroll {
        padding: 2rem 5rem; } }
  .navigation__brand:link, .navigation__brand:visited {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    -webkit-transition: color .2s;
    transition: color .2s; }
  .navigation__brand:hover, .navigation__brand:active {
    color: #fce48b; }
  .navigation__list {
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: rgba(243, 129, 129, 0.8);
        width: 100%;
        height: 50vh;
        top: -50rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: all .3s;
        transition: all .3s; } }
    .navigation__list--active {
      top: 9rem; }
  .navigation__item {
    display: inline-block; }
  .navigation__link, .navigation__icon {
    -webkit-transition: all .2s;
    transition: all .2s; }
    .navigation__link:link, .navigation__link:visited, .navigation__icon:link, .navigation__icon:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .navigation__link:link, .navigation__link:visited, .navigation__icon:link, .navigation__icon:visited {
          font-size: 3rem; } }
  .navigation__link {
    padding-bottom: 1rem; }
    .navigation__link:hover, .navigation__link:active {
      color: #fce48b;
      border-bottom: 2px solid #fce48b; }
      @media only screen and (max-width: 56.25em) {
        .navigation__link:hover, .navigation__link:active {
          border: none; } }
  .navigation__icon:link, .navigation__icon:visited {
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__icon:link, .navigation__icon:visited {
        font-size: 3rem; } }
  .navigation__icon:hover, .navigation__icon:active {
    color: #fce48b; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 120rem; }

.section-about,
.section-services,
.section-portfolio,
.section-team,
.section-blog,
.section-clients {
  padding: 6rem 0; }

@media only screen and (max-width: 37.5em) {
  .section-about {
    background-color: #f3f1f1;
    z-index: -1; } }

.section-devices {
  position: relative;
  min-height: 85rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/hero2.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/hero2.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .section-devices {
      min-height: 60rem; } }
  .section-devices__tablet {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media only screen and (max-width: 56.25em) {
      .section-devices__tablet {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-devices__tablet {
        width: 30rem; } }
  .section-devices__phone {
    position: absolute;
    bottom: -10rem;
    left: 60%; }
    @media only screen and (max-width: 56.25em) {
      .section-devices__phone {
        left: 50%;
        width: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-devices__phone {
        width: 20rem; } }

.section-service {
  padding: 10rem 0 5rem 0; }

.logos {
  padding: 4rem 0;
  background-color: #f3f1f1; }
  .logos__list {
    margin: 0 auto;
    padding: 0 2rem;
    list-style: none;
    max-width: 120rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (max-width: 56.25em) {
      .logos__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .logos__item {
    text-align: center;
    margin: 0 .5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16%;
            flex: 0 0 16%; }
    @media only screen and (max-width: 56.25em) {
      .logos__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 32%;
                flex: 0 0 32%; } }

.section-clients {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/hero3.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/hero3.jpg);
  background-position: center;
  background-size: cover; }

.map {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../img/map.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  height: 20rem;
  position: relative;
  -webkit-transition: height .3s;
  transition: height .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .map__open-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .map__open-button:active, .map__open-button:focus {
      outline: none; }
    .map__open-button:hover > .map__text,
    .map__open-button:hover > .map__icon {
      color: #f11; }
    .map__open-button:hover > .separator--hover {
      background-color: #f11; }
  .map__icon {
    font-size: 3rem;
    color: #f33;
    -webkit-transition: color .3s;
    transition: color .3s; }
  .map__text {
    text-transform: uppercase;
    color: #f33;
    font-size: 2.4rem;
    font-weight: 700;
    -webkit-transition: color .3s;
    transition: color .3s; }
  .map .separator--hover {
    background-color: #f33; }
  .map__box {
    position: absolute;
    height: 40rem;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    z-index: -1; }
