
.container {
  @include flex-column-center;
  margin: 0 auto;
  max-width: 120rem;
}

.section-about,
.section-services,
.section-portfolio,
.section-team,
.section-blog,
.section-clients {
  padding: 6rem 0;
}

.section-about {
  @include respond(phone) {
    background-color: $color-white-darker;
    z-index: -1;
  }
}

.section-devices {
  position: relative;
  min-height: 85rem;
  background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8)) ,url(../img/hero2.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 5rem;

  @include respond(phone) {
    min-height: 60rem;
  }

  &__tablet {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include respond(tab-port) {
      width: 50rem;
    }

    @include respond(phone) {
      width: 30rem;
    }

  }

  &__phone {
    position: absolute;
    bottom: -10rem;
    left: 60%;

    @include respond(tab-port) {
      left: 50%;
      width: 30rem;
    }

    @include respond(phone) {
      width: 20rem;
    }
  }
}

.section-service {
  padding: 10rem 0 5rem 0;
}

.logos {
  padding: 4rem 0;
  background-color: $color-white-darker;

  &__list {
    margin: 0 auto;
    padding: 0 2rem;
    list-style: none;
    max-width: 120rem;

    display: flex;
    justify-content: space-around;

    @include respond(tab-port) {
      flex-wrap: wrap;
    }
  }

  &__item {
    text-align: center;
    margin: 0 .5rem;

    flex: 0 0 16%;

    @include respond(tab-port) {
      flex: 0 0 32%;
    }
  }
}

.section-clients {
  background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8)) ,url(../img/hero3.jpg);
  background-position: center;
  background-size: cover;
}

.map {
  background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8)) ,url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    @include flex-column-center;

    &:hover > .map__link,
    &:hover > .map__icon {
      color: $color-1-darker;
    }

    &:hover > .separator--hover {
      background-color: $color-1-darker;
    }
  }

  &__icon {
    font-size: 3rem;
    color: $color-1;
    transition: color .3s;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-1;
      font-size: 2.4rem;
      font-weight: 700;
      transition: color .3s;
    }

  }
}