
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;

  @include respond(tab-port) {
    justify-content: space-around;
    margin-top: 5rem;
  }

  &__box {
    flex: 0 0 31%;

    @include respond(tab-port) {
      flex: 0 0 45%;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      flex: 0 0 80%;
    }
  }

  &__img-box {
    position: relative;

    @include respond(phone) {
      display: flex;
      justify-content: center;
    }
  }

  &__caption {
    color: $color-white;
    width: 6rem;
    height: 7rem;
    position: absolute;
    bottom: 2rem;
    left: -1rem;
    background-color: $color-3;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(phone) {
      left: 2rem;
    }
  }

  &__day {
    font-size: 3rem;
    font-weight: 400;
    line-height: .8
  }

  &__month {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
  }

  &__heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-2;
    text-transform: uppercase;
    margin: 1rem 0;
    display: block;
  }

  &__numbers {
    display: flex;
    align-items: center;
    border-top: 1px solid $color-grey-light;
    padding-top: 1rem;
    margin: 1rem 2rem 0 0;
  }

  &__numbers-box {
    margin-right: 2rem;

    display: flex;
    align-items: center;
  }

  &__number {
    margin-left: .5rem;
  }

  &__icon {
    font-size: 2rem;
    color: $color-3;
    margin-right: .5rem;
  }

}

