
.clients {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;

  &__box {
    flex: 0 0 50%;
    padding-top: 5rem;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @include respond(phone) {
      flex: 0 0 100%;
    }
  }

  &__photo {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__text-box {
    width: 70%;
  }

  &__name {
    display: block;
    font-size: 1.4rem;
    color: $color-grey-2;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__profession {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.4rem;
    font-style: italic;
  }
}