
.quote {
  
  background-color: $color-white-darker;
  padding: 5rem 0;
  margin: 0 auto;

  @include respond(phone) {
    display: none;
  }

  &--white-background {
    background-color: $color-body-background;
  }

  &__container {
    max-width: 120rem;
    height: 22rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }  

  &__photo {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }

  &__box-primary,
  &__box-secondary {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 120%;
    transition: all .2s;
  }

  .current {
    left: 12rem;
  }

  &__text-box {
    width: 60%;
    margin-top: 2rem;
  }

  &__text {
    font-family: 'Roboto',sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: $color-grey;
    font-style: italic;
    line-height: 3.6rem;
  }

  &__author {
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.4rem;
    font-weight: 400;
    color: $color-grey-dark;
    margin-top: 1rem;
    margin-left: 7rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      margin-left: -7rem;
      top: 50%;
      background-color: $color-1;
      height: 3px;
      width: 6rem;
    }
  }
}

