
.service {
  padding: 2rem;
  display: flex;
  width: 100%;

  @include respond(phone) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__photo-box {
    flex: 0 0 50%;

    @include respond(phone) {
      flex: 0 0 90%;
      margin-bottom: 3rem;
    }
  }

  &__text-box {
    flex: 1;
    margin-left: 1rem;

    @include respond(phone) {
      flex: 0 0 90%;
      margin: 0;
    }
  }

  &__expand-box {
    border: 1px solid $color-grey-light;
    padding: 1.5rem;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    margin-right: 2rem;
  }
}