
.service {
  padding: 2rem;
  display: flex;
  width: 100%;

  &__photo-box {
    flex: 0 0 50%;
  }

  &__text-box {
    flex: 1;
    margin-left: 1rem;
  }

  &__expand-box {
    border: 1px solid $color-grey-light;
    padding: 1.5rem;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    margin-right: 2rem;
  }
}