*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  color: $color-grey-dark;
  font-size: 62.5%; 
  box-sizing: border-box;
  background-color: $color-body-background;
}

img {
  max-width: 100%;
}
