body {
  font-family: 'Montserrat' ,sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.separator {
  background-color: $color-1;
  height: 3px;
  width: 6rem;
  margin: 3rem 0;
  border: none;

  &--white {
    background-color: $color-white;
  }

  &--margin-small {
    margin: 1rem 0;
  }
}

.heading-primary {
  line-height: 1;
  color: $color-white;

  &--main {
    display: block;
    font-size: 10rem;
    text-transform: uppercase;
  }

  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 2rem;
  }

  &--span {
    display: block;
  }
}

.heading-secondary {
  color: $color-grey-dark;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-tertiary {
  font-family: 'Kaushan Script', cursive;
  color: $color-grey-dark;
  font-size: 2.4rem;
  font-weight: 400;
}

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-grey-dark;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  color: $color-grey;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;

  &--short {
    width: 85%;
  }

  &--long {
    width: 80%;
    text-align: center;
    margin-bottom: 5rem;
  }
}